.navbar button {
    font-weight: 500;
    padding: 0.7rem 0.8rem;
    font-size: $small;
}

.sobremi .button {
    font-weight: 500;
    font-size: $x-small;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
 }

 .carousel_imagen .button {
    font-weight: 500;
    font-size: $x-small;
    padding: 0.5rem 1.5rem;
 }

 .terapias .button{ 
    font-weight: 500;
    font-size: $x-small;
    padding: 0.5rem 1.5rem;
}