.header {
    margin-top: 0;
    height: 95vh;
    background-color: $white;
    background-image: url('../img/header-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.terapias-1 {
    background-image: url('../img/terapias-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.terapias-2 {
    background-image: url('../img/terapias-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.terapias-3 {
    background-image: url('../img/terapias-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.terapias-4 {
  background-image: url('../img/terapias-4.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.terapias-5 {
  background-image: url('../img/terapias-5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.terapias-6 {
  background-image: url('../img/terapias-6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.terapias-7 {
  background-image: url('../img/terapias-7.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.terapias-8 {
  background-image: url('../img/terapias-8.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.terapias-9 {
  background-image: url('../img/terapias-9.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}