h1 {
    font-weight: 700;
    font-size: $xxx-large;
    color: #262626;
}

h2 {
    font-weight: 700;
    font-size: $xx-large;
    color: #262626; 
}

h3 {
    font-size: $large-sub;
    font-weight: 600;
}
 p {
     color: #262626;
     font-size: $medium;
     font-weight: 400;
 }