//tamaño de fuentes

$xxx-large: 2.1rem;    //36
$xx-large: 2rem;       //32
$x-large: 1.8rem;      // 28
$large-sub: 1.5rem;  //24
$large: 1.125rem;    //18
$medium: 1rem;      //16
$small: 0.938rem;    //15
$x-small: 0.875rem;   //14

// buttons
$primary: #9D53D7;

//nav
$navbar-light-color: #9D53D7;
$navbar-light-hover-color: #8044ad;      
$navbar-light-active-color: #8044ad; 

//dropdown
$dropdown-link-color: #9D53D7;            
$dropdown-link-hover-color: #8044ad;     
$dropdown-link-hover-bg: #ffffff;       
$dropdown-link-active-color: #8044ad;
$dropdown-font-size: 0.95rem;
